<div class="contents row">
  <div class="container">
    <h3>編集する</h3>

    <%# 部分テンプレート _form.html.erbファイルを呼び出す %>
    <%= render partial: "form", locals: { tweet: @tweet } %>

  </div>
</div>

<%# 切り出したフォームの部分テンプレートにおいては、model: tweetとなっている。_form.html.erbを確認する。
したがって、locals: { tweet: @tweet }と記述して、@tweet → tweetと読み替える記述をする。 %>