<%# 検索フォーム %>
<%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |f| %>
  <%# form_withのtext_fieldとsubmitを使って検索窓と検索ボタンを作成 %>
  <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>

<%# 一覧表示画面 %>
<div class="contents row">
  <% @tweets.each do |tweet| %>
    
    <%# 部分テンプレート _tweet.html.erbファイルを呼び出す %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>
  
  <% end %>
</div>


<%# renderは、部分テンプレートを呼び出すメソッド。
partial: は、どの部分テンプレートを指定するオプション。
今回の場合、_tweet.html.erbファイルを指定。 ⇢ render partial: "tweet"
localsは、部分テンプレート内でその変数を使えるようになる。
今回の場合、locals: { ①tweet: ②tweet }は、①tweet:部分が変数。②tweet部分は、each文のブロック変数|tweet|のtweetである。 %>