<div class="contents row">
  <div class ="container">

    <%# エラーメッセージを表示させる処理 %>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>
        投稿する
      </h3>

      <%# エラーメッセージを表示 %>
      <%# エラーが起きた時、app/views/layouts/_error_messages.html.erbを読み込む %>
      <%= render 'layouts/error_messages', model: form.object %>

      <%# 部分テンプレート _form.html.erbファイルを呼び出す %>
      <%= render partial: "form", locals: { tweet: @tweet } %>  <%# @tweetはtweetsコントローラーで定義したインスタンス変数 %>
    <% end %>

  </div>
</div>


<%# 切り出したフォームの部分テンプレートにおいては、model: tweetとなっている。_form.html.erbを確認する。
したがって、locals: { tweet: @tweet }と記述して、@tweet → tweetと読み替える記述をする。 %>