<div class="contents row">
  <div class ="container">
    <h3>投稿する</h3>

    <%# ツイートが保存されなかった場合、エラーメッセージが表示 %>
    <%= render 'layouts/error_messages', model: form.object %>

    <%# 部分テンプレート _form.html.erbファイルを呼び出す %>
    <%= render partial: "form", locals: { tweet: @tweet } %>  <%# @tweetはtweetsコントローラーで定義したインスタンス変数 %>

  </div>
</div>


<%# 切り出したフォームの部分テンプレートにおいては、model: tweetとなっている。_form.html.erbを確認する。
したがって、locals: { tweet: @tweet }と記述して、@tweet → tweetと読み替える記述をする。 %>